/* 요래찍어바 스타일 */

.photo-guide-wrapper {
  max-width: 800px;
  margin: 100px auto;
  padding: 0 20px;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  line-height: 1.7;
}

.guide-category {
  color: #aaa;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.guide-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #111;
}

.guide-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 20px;
}

.guide-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* 회색 구분선 */
.guide-divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.guide-content {
  color: #888;
  font-size: 0.95rem;
}

.guide-content p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #888;
}

/* 회색 구분선 */
.guide-divider2 {
  border: none;
  height: 2px;
  width: 70%;
  background-color: #ddd;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.guide-content h2 {
  margin-top: 20px;
}
